body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin: 0;
    padding: 0;
}
h2{
    margin-top: 0px;
    margin-bottom: 3px;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#divBtCategorias button:hover {
    background-color: orangered;
    color: white;
}

.botao{
    background-color: #000;
    color: whitesmoke;
    border: 1px solid #000
    /* border: 2px dashed whitesmoke; */
}
.botaoClicado{
    background-color: #000;
    color: whitesmoke;
    /* border: 1px solid #000 */
    border: 2px dashed whitesmoke;
}

.artigo{
    border: 1px solid orangered;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;

}

.tags{
    color:orangered;
}