/* *{
    border: 1px solid green;
    margin: 1px;
}
 */

/* laranja do logo: #DF4E39 */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin: 0;
    padding: 0;
}
h2{
    margin-top: 0px;
    margin-bottom: 3px;
}

.navbar {
    background-color: black;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#logoHeader{
    width: 150px;
    height: 66px;
}

#divBtCategorias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#divStats{
    background-color: #000;
    color: whitesmoke;
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.botao:hover, #botaoHome:hover {
    -webkit-box-shadow: inset 0px 0px 5px 5px #DF4E39;
    -moz-box-shadow: inset 0px 0px 5px 5px #DF4E39;
    box-shadow: inset 0px 0px 10px 3px #DF4E39;

    border-radius: 5px;
}

.linkRecurso{
    border: 3px solid #000;
    background-color: #DF4E39;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    padding: 6px;
    border-radius: 10px;
}
.linkRecurso:hover{
    border: 3px solid #DF4E39;
    background-color: #000;
    color: #DF4E39;

}

.botao{
    background-color: #000;
    color: whitesmoke;
    border: 0px solid #000;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#botaoHome{
    background-color: #000;
    color: whitesmoke;
    border: 0px solid #000;
    /* height: 30px; */
    padding: 3px;
    /* height: 100%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;

}
.botaoClicado{
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #000;
    color: whitesmoke;
    /* border: 2px dashed whitesmoke; */
    border: 2px dashed #DF4E39;
}

.artigo{
    /* border: 2px solid #DF4E39; */
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5px;
}

.artigo:hover{
    -webkit-box-shadow: 0px 0px 14px 5px #DF4E39;
    -moz-box-shadow: 0px 0px 14px 5px #DF4E39;
    box-shadow: 0px 0px 14px 5px #DF4E39;
}

.tags{
    color:#DF4E39;
}

.tagLink{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#headerContribuicoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

#icone{
    color: #DF4E39;
}