


:root {
    --cor-preto: #2E2F1D;
    --cor-branco: #EDAC38;
    --cor-cinza-fundo: #2F4F2F;
    --cor-laranja-logo: #a87a29;

    /* --cor-preto: #2E2F1D;
    --cor-branco: #EDAC38;
    --cor-cinza-fundo: #2F4F2F;
    --cor-laranja-logo: #B53F25; */
    
    /* --cor-preto: #2F4F2F;
    --cor-branco: #EDAC38;
    --cor-cinza-fundo: #2E2F1D;
    --cor-laranja-logo: #B53F25; */
    
    /* Skynet */
    /* --cor-preto: #3b3b3b;
    --cor-branco: #6B8E23;
    --cor-cinza-fundo: #2F4F2F;
    --cor-laranja-logo: #D4A017; */
    
    /* Skynet2 */
    /* --cor-preto: #2F4F2F;
    --cor-branco: #6B8E23;
    --cor-cinza-fundo: #8B4513;
    --cor-laranja-logo: #D4A017; */

    /* --cor-preto: #6B8E23;
    --cor-branco: #D4A017;
    --cor-cinza-fundo: #3b3b3b;
    --cor-laranja-logo: #A52A2A; */
    
    /* --cor-preto: #3b3b3b;
    --cor-branco: #000;
    --cor-cinza-fundo: #6B8E23;
    --cor-laranja-logo: #A52A2A; */

    /* --cor-preto: #8B4513;
    --cor-branco: #3b3b3b;
    --cor-cinza-fundo: #6B8E23;
    --cor-laranja-logo: #A52A2A; */

    /* --cor-preto: #2E2F1D;
    --cor-branco: #EDAC38;
    --cor-cinza-fundo: #595629;
    --cor-laranja-logo: #A52A2A; */
    
    --cor-preto: #a7c957;
    --cor-branco: #010103;
    --cor-cinza-fundo: #d2a87d;
    --cor-laranja-logo: #A52A2A;
    
    --cor-preto: #d2a87d;
    --cor-branco: #010103;
    --cor-cinza-fundo: #a7c957;
    --cor-laranja-logo: #A52A2A;
    
    /* --cor-preto: #432909;
    --cor-branco: #010103;
    --cor-cinza-fundo: #a7c957;
    --cor-laranja-logo: #A52A2A; */
    
    
    --cor-preto: #a98467;
    --cor-preto: #d2a87d;
    --cor-branco: #010103;
    --cor-cinza-fundo: #a7c957;
    --cor-laranja-logo: #A52A2A;
    --cor-dourado: #D4A017;
    
    






    /* https://colorhunt.co/palette/f1f0e941644a0d4715e9762b
    https://colorhunt.co/palette/186f65b5cb99fce09bb2533e
    https://colorhunt.co/palette/f2ee9d7a9d54557a468c3333
    https://colorhunt.co/palette/05921206d0019bec00f3ff90
    https://colorhunt.co/palette/734444c37857eeedbe99b27f
    https://colorhunt.co/palette/d2f079c8d35bad8c45a2663e
    https://colorhunt.co/palette/f0f0efedd690b1bd5d955a47
    https://colorhunt.co/palette/f9ebc4a7cf5da97555483d3c
    https://colorhunt.co/palette/61b292aed09ef1e8a7a8896c
    https://colorhunt.co/palette/b5edbaf06f32a44444594129
    https://colorhunt.co/palette/76ba99876445ca955ceddfb3
     */

  /*
  
  
  
  #dda15e
  #a98467
#e1bb80
#dcab6b
#d2a87d
#432909


#a7c957
#52b788
#55a630


  #2a9d8f
 */


}

*{
    box-sizing: border-box;


    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* font-variation-settings: */
      width: 100;

      font-family: "Noto Sans Warang Citi", serif;
  font-weight: 400;
  font-style: normal;


  /* font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal; */
      
}

body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

    background: hsla(30, 49%, 66%, 1);

background: linear-gradient(180deg, hsla(30, 49%, 66%, 1) 0%, hsla(26, 28%, 53%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(30, 49%, 66%, 1) 0%, hsla(26, 28%, 53%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(30, 49%, 66%, 1) 0%, hsla(26, 28%, 53%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D2A87D", endColorstr="#A98467", GradientType=1 );


}

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0px;
    margin-bottom: 3px;
    padding: 5px;
    background-color: var(--cor-dourado);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.navbar {
    background-color: var(--cor-preto);
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* color: var(--cor-dourado); */
}

#logoHeader {
    width: 150px;
    height: 66px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2)); */
    
}

#divBtCategorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    flex: 1;
}

#divStats {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border: 1px solid var(--cor-preto);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.botao:hover, #botaoHome:hover {
    -webkit-box-shadow: inset 0px 0px 5px 5px var(--cor-dourado);
    -moz-box-shadow: inset 0px 0px 5px 5px var(--cor-dourado);
    box-shadow: inset 0px 0px 10px 3px var(--cor-dourado);
    border-radius: 5px;
}

.linkRecurso {
    border: 3px solid var(--cor-laranja-logo);
    background-color: var(--cor-dourado);
    color: var(--cor-branco);
    color: var(--cor-laranja-logo);
    text-decoration: none;
    font-weight: 900;
    padding: 6px;
    border-radius: 10px;
}

.linkRecurso:hover {
    border: 3px solid var(--cor-laranja-logo);
    background-color: var(--cor-preto);
    color: var(--cor-laranja-logo);
}

.botao {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    color: var(--cor-laranja-logo);
    border: 0px solid var(--cor-preto);
    height: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
}

#botaoHome {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border: 0px solid var(--cor-preto);
    height: auto;
    padding: 3px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
    display: flex;
}

.botaoClicado {
    height: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border: 2px dashed var(--cor-laranja-logo);
}

.artigo {
    /* margin: 20px; */
    /* border-radius: 15px;
    padding: 10px;
    background-color: var(--cor-cinza-fundo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 333px; */
    /* box-shadow: 0 0 10px var(--cor-verdeEscuro); */
    /* height: 33vh; */

/* teste com grid para efeito keep1 */
    /* background: #101010;
    color: white;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    grid-row: span auto;  */


    background: var(--cor-cinza-fundo);
    color: white;
    padding: 16px;
    border-radius: 10px;
    display: inline-block; /* Evita que quebre errado */
    width: 100%;
    margin-bottom: 16px;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; */


}

.artigo:hover {
    -webkit-box-shadow: 0px 0px 14px 5px var(--cor-laranja-logo);
    -moz-box-shadow: 0px 0px 14px 5px var(--cor-laranja-logo);
    box-shadow: 0px 0px 14px 5px var(--cor-laranja-logo);
}

.tags {
    color: var(--cor-laranja-logo);
}

.tagLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor-dourado);
    padding: 5px;
    border-radius: 5px;
}

#headerContribuicoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    height: auto;
    width: 100px;
}

.contribuicoesBotoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

#icone {
    color: var(--cor-laranja-logo);
}

main{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px; */


    /* teste com grid para efeito keep1 */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 16px; */
    /* grid-auto-rows: 10px; Altura base de cada "linha" da grade */

    /* keep 2 */
    /* column-count: 3;
    column-gap: 16px; */

    column-width: 350px; /* Define um tamanho mínimo para as colunas */
    column-gap: 16px;
}

